<%var alpha = value.alpha;%>

<H1> <%=alpha.name%></h1>



<%=fields.alphaInstances.here()%>


    <%

    if(alpha.outgoingRelations){

    %><table height='10px'><td width=20px><div onclick="$(event.target).closest('table').css('height', '100%')"></div></td><td>

        <%=fields.childAlphaGameBoards.here()%>

    </td></table><%
    }

%>

