<div class="ui-checkbox">
<label id="label_<%=objectId%>" class="ui-btn ui-corner-all ui-btn-inherit ui-btn-icon-left ui-checkbox-off"><%=value.checkPoint.name%><%=fields.checked.here()%></label>
</div>

<script>
 var label = $("label_<%=objectId%>");

 label.attr('for', label.find('input').attr('id'));

</script>