<br>
<table style="width: 100%;">
    <tr>
        <td style="width: 15%;">id : </td>
        <td><%=fields.id.here()%></td>
    </tr>
</table>
<%=include("dwr/metaworks/org/uengine/uml/model/ObjectInstance.ejs")%>