<%=include('dwr/metaworks/org/uengine/essencia/enactment/LanguageElementInstance.ejs')%>
<table style="width: 100%;">
    <tr>
        <td style="width: 15%;">Level Of Detail : </td>
        <td><%=fields.currentLevelOfDetailName.here()%></td>
    </tr>
</table>