
<% if (value && !value.deleted && value.languageElementInstance && value.languageElementInstance.classDefinition) {

    var concern = value.languageElementInstance.classDefinition.concern;
    var concernColor = concernColors[concern];

    if(!concernColor) concernColor = "#428bca"

        var tilt = Math.random() * 3 - 1.5;

       %>

<div class="well well-sm" style="background-color: <%=concernColor%>; color: white; cursor: pointer;text-overflow:ellipsis;
    display: inline-block;
    overflow: hidden;
    float: left;
    height: 100px;
        -ms-transform: rotate(<%=tilt%>deg); /* IE 9 */
        -webkit-transform: rotate(<%=tilt%>deg); /* Chrome, Safari, Opera */
    max-width:100px;">
    <%=value.languageElementInstance.valueMap["Id"]%>
</div>




<%}%>

