
<% if (value && !value.deleted && value.languageElementInstance && value.languageElementInstance.classDefinition) {



       %>

<div class="well well-sm">
    <%=value.languageElementInstance.valueMap["Id"]%>
</div>


<%}%>

