<table class="table table-striped active">

	<tr>

<%

	if(value.length > 0){

		if(classDefinition.fieldDescriptors)
		for (var i=0; i<classDefinition.fieldDescriptors.length; i++) {

			var fd = classDefinition.fieldDescriptors[i];

			if (fd.name == 'metaworksContext') continue;

			%><th><%=fd.displayName ? fd.displayName : fd.name%></th><%

		}

	}
%>

		<th>State</th>

	</tr>

<%
	if(value != null && typeof value != 'undefined'){
		if(value.length > 0){
			if(typeof options == 'undefined') 
				options = objectMetadata;
			
			options['htmlTag'] = 'tr';

			for(var i=0; i<value.length; i++){
%>
	<%=mw3.locateObject(value[i], value[i].__className, null, options, {objectId: objectId, name: '[' + i + ']'})%>
<%
			}

		}
	}		
%>
</table>