.tag {
    font-family: Helvetica, Arial, sans-serif;
    background: #ccc;
    display: inline-block;
    color: #fff;
    position: relative;
    padding: 4px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    margin: 0 30px 0 0;
    text-decoration: none;
}

.tag:hover {
    background-color: #739fe4;
}

.tag:after {
    display: inline-block;
    border: 12px solid;
    border-color: transparent transparent transparent #ccc;
    height: 0;
    width: 0;
    position: absolute;
    right: -24px;
    top: 0;
    content: "";
    display: inline-block;
}


.tag:hover:after {
    border-color: transparent transparent transparent #739fe4;
}