<%if (value.forOCE){%>

<div id="wrap">
	<div class="login_top_codi"></div>
    <div class="index_top">
        <div class="logoline">
            <div class="width1200">
                <div class="index_logo"><img src="http://opencloudengine.org/images/logo.png"></div>
                <div class="index_menu">
                    <ul>
                        <li onclick="if(event &amp;&amp; event.stopPropagation)	 event.stopPropagation(); else if(window.event) window.event.cancelBubble = true;mw3.getObject(2).goLogin()" style="cursor: pointer">Login</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="index_topmenu"></div>
        
        <div class="banner_img_div">
        	<div class="banner_img_div_disc_box"></div>        	 
        	<div class="banner_img_div_disc">
        		<span class="bf">Essencia : LIVE</span>
        		<span class="sf">Build Your Apps on Cloud IDEs!</span>
        		<div>
        			<%=fields.login.here()%>		
        		</div>
        	</div>
        	
   	   <div class="bn01 main_banner" style="display: none;"><img src="http://www.getpureweb.com/wp-content/uploads/2012/11/Cloud_Enterprise-apps.png" width="100%"></div>
        	<div class="bn02 main_banner" style="display: block;"><img src="http://cdn1.yourstory.com/wp-content/uploads/2013/12/programming_languages.jpg" width="100%"></div>
        	<div class="bn03 main_banner" style="display: none;"><img src="images/waveStyle/testMain2.jpg" width="100%"></div>
        	
               	<div style="position:relative; z-index:1"><img src="images/waveStyle/testMain_tran.png" width="100%"></div>
        </div>
    </div>
    <div class="index_middle">
    	<div class="middle_top_hr"></div>
        <div class="index_content">
            <div class="row" style="background:#fff">
			  <div class="col-md-7">
			  	<div><img src="images/waveStyle/index_con05_01.png"></div>
                <h1>Business PaaS</h1>OCE-live is a Business PaaS which lets business users can create their business process and analyze the results. Features includes BPMN modeling, UI designer, and Java IDEs, and also provides Big data based Business Intelligence Tools. Bring your business folks participate in the innovation.</div>
			  <div class="col-md-5">
			  	<img src="images/waveStyle/index_con05.jpg" width="100%">
			  </div>
			</div>
			
			
			<div class="row" style="background:#F3F3F3">
			  <div class="col-md-5">
			  	<img src="images/waveStyle/index_con01.jpg" width="100%">
			  </div>
			  <div class="col-md-7">
			  	<div><img src="images/waveStyle/index_con01_01.png"></div>
                <h1>Social Integrated Development Environment</h1>Development with your team people by sharing knowledge on Social Network Service. Micro-bloggs, chat, forum, document sharing which is integrated with Java IDEs and development tools are provided.</div>			  
			</div>
			
			<div class="row" style="background:#fff">
			  <div class="col-md-7">
			  	<div><img src="images/waveStyle/index_con02_01.png"></div>
                <h1>Enterprise App Store and Self Service Portal</h1>소비자는 앱스토어에서 앱을 취득사용할 수 있다. 구매한 앱은 앱론처에 모여있게되고 해당 가입자 (기관)가 접속하여 앱론처에서 애플리케이션으로 접속하는 포탈이 된다.
OCE는 소비자가 취득한 앱의 로고, 비즈니스 프로세스, 비즈니스 폼 (UI) 등을 취득한 기관의 특성과 목적에 맞게 변경할 수 있는 셀프 서비스포탈을 제공한다.</div>
			  <div class="col-md-5">
			  	<img src="images/waveStyle/index_con02.jpg" width="100%">
			  </div>
			</div>
			
			<div class="row" style="background:#F3F3F3">
			  <div class="col-md-5">
			  	<img src="images/waveStyle/index_con03.jpg" width="100%">
			  </div>
			  <div class="col-md-7">
			  	<div><img src="images/waveStyle/index_con03_02.png"></div>
                <h1>Operator Portal</h1>OCE 앱스토어에 대한 관리는 운영자가 하게 된다. 개발자가 운영으로 넘긴 앱을 운영자가 승인하면 자동 빌드를 통하여 운영기에 인스턴스가 생성되게 된다.
생성된 인스턴스는 앱스토어에 등록되어 가입자(소비자)가 취득할 수 있게 된다. 도입기업마다 절차가 상이할 수 있는데 가입자가 취득을 요청하면 운영자가 이를 승인해주는 과정이 요구되기도 한다 (이 모든 과정 또한 BPM 기반으로 처리되기 때문에 도입기업별로 수정이 가능하다)
소비자의 피드백 채널과 운영중 동적확장(Elasticty)
운영자는 소비자가 앱스토어에서 각 앱에 대한 평가를 실시간으로 피드백 받을 수 있는 SNS기반 채널에 연결되어 있으며 (프로세스 코디 SNS 플랫폼), 이를 통하여 서버장애 및 확장에 대한 요구를 실시간으로 받을 수 있다.
애플리케이션 인스턴스들을 관리하는 마스터 노드는 각 클러스터 노드에서 전송되는 부하정보를 기반으로 특정 앱의 로드가 높아지면 자동으로 다른 노드의 여유공간에 애플리케이션을 추가 프로비져닝시킨다. 반대로 요청이 거의 없는 애플리케이션이 발견되면 해당 앱을 내려(drop)놓는다. 이러한 방식으로 자원을 최적으로 사용하도록 자동화된다. 이러한 운영자동화는 OSGi의 유연성 덕분에 쉽게 제어되고 포함된 소프트웨어 스위치인 HAProxy에 의하여 요청이 분산된다. </div>			  
			</div>
			
			<div class="row" style="background:#fff">
			  <div class="col-md-7">
			  	<div><img src="images/waveStyle/index_con01_01.png"></div>
                <h1>OCE가 조직에게 주는 가치</h1><p>
<b> No-Ops Team</b><br>
PaaS는 개발조직에게 통합 미들웨어와 개발 서비스를 알아서 관리해준다. 개발환경의 생성, 디플로이, 관리의 환경에 대한 좀더 추상화된 환경을 제공한다. 이를 통하여 시스템 운영자가 없이 개발에 몰두 할 수 있는 조직인 'Dev-Ops' 혹은 'No-Ops' 조직을 만들 수 있다. 
</p>
<p>
<b>일관성있는 애플리케이션 생애주기 관리</b><br>
Garuda PaaS는 개발 서비스에 대산 쉬운 프로비져닝을 할 수 있게 해준다 - 빌드, 테스트 그리고 형상관리 저장소 서비스 등을 - 어떠한 표준적이지 않은 환경에서 개발되었을 때 발생할 수 있는 비효율성, 오류, 비일관성 등의 문제를 개발 라이프사이클 전반에 있어서 막아준다. 이로서 개발과 운영조직은 SW 라이프사이클 관리를 위한 SW 형상과 버전을 트래킹하는 일관성 있는 플랫폼을 갖추게 된다. 이는 조직의 개발과 배포 프로세스를 일관되게 해준다.  
</p>
<p>
<b>서비스 프로비져닝의 비용 절감</b><br>
Garuda Enterprise App Store 에서는 개발된 앱들을 스테이징에서, 운영, 확장까지의 애플리케이션 프로비져닝도 IaaS 를 직접 다룰 필요 없이 버튼 클릭한번으로 조직에서 사용할 수 있게 준비시켜준다. 사용할 애플리케이션에 대한 맞춤화는 셀프서비스 포탈에서 쉽게 설정하여 사용할 수 있다.
</p>
<p>
  <b>서비스 통합 비용</b><br> 
전통적으로 애플리케이션들을 통합 연동하는 것은 많은 비용과 시간이 필요하다. Garuda 에서는 모든 미들웨어는 쉽게 관리되고 연결될 수 있도록 미리 설정되어있기 때문에  앱스토어에 한번 등록된 앱들은 쉽게 RESTful 과 Web Service 의 형태와 BPM 플랫폼에 의하여 프로세스 적으로 통합될 수 있다. 
</p></div>
			  <div class="col-md-5">
			  	<img src="images/waveStyle/index_con04.jpg" width="100%">
			  </div>
			</div>
			

			
        </div>
    </div>
    <div class="index_bottom"></div>
</div>




<%}else{%>


<div id="wrap">
	<div class="login_top_codi"></div>
    <div class="index_top">
        <div class="logoline">
            <div class="width1200">
                <div class="index_logo"><img src="images/waveStyle/logo.png" /></div>
                <div class="index_menu">
                    <ul>
                        <li onClick="<%=methods.goLogin.caller()%>" style="cursor: pointer">Login</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="index_topmenu"></div>
        
        <div class="banner_img_div">
        	<div class="banner_img_div_disc_box"></div>
        	<div class="banner_img_div_disc">
        		<span class="bf">코디는 기업용 Social Network Service 입니다.</span>
        		<span class="sf">팀원간에, 외부 협력사 간에도 프로세스를 기반한 소셜 네트워크를 경험하십시오.</span>
        		<div>
        			<%=fields.login.here()%>		
        		</div>
        	</div>
        	<div class="bn01 main_banner"><img src="images/waveStyle/testMain.jpg" width="100%" /></div>
        	<div class="bn02 main_banner" style="display:none"><img src="images/waveStyle/testMain2.jpg" width="100%" /></div>
        	<div class="bn03 main_banner" style="display:none"><img src="images/waveStyle/testMain3.jpg" width="100%" /></div>
        	<div style="position:relative; z-index:1"><img src="images/waveStyle/testMain_tran.png" width="100%" /></div>
        </div>
    </div>
    <div class="index_middle">
    	<div class="middle_top_hr"></div>
        <div class="index_content" >
            <div class="row" style="background:#fff">
			  <div class="col-md-7">
			  	<div><img src="images/waveStyle/index_con05_01.png" /></div>
                <h1>프로세스 개선</h1>
                        코디는 그룹 내 사용하고 있는 혹은 사용하고자 하는 프로세스의 사용이 가능합니다. 휴가신청 및 일정관리, 연락처 관리부터 결재, 영업관리 등 그룹 내에서 등록한 프로세스의 실행이 즉각적으로 이루어지며, 플랫폼 내에서 업무의 진행 사항을 확인 할 수 있는 등 기존 BPM의 이점을 그대로 활용 가능합니다. 
			  </div>
			  <div class="col-md-5">
			  	<img src="images/waveStyle/index_con05.jpg" width="100%"/>
			  </div>
			</div>
			
			
			<div class="row" style="background:#F3F3F3">
			  <div class="col-md-5">
			  	<img src="images/waveStyle/index_con01.jpg" width="100%"/>
			  </div>
			  <div class="col-md-7">
			  	<div><img src="images/waveStyle/index_con01_01.png" /></div>
                <h1>소셜 워크플로우(UC)</h1>
                       그룹 내 친구를 추가하여 지식을 공유 할 수 있고 소셜 네트워크의 친구들과의 커뮤니케이션도 업무에 활용해 보세요. 소셜네트워크의 친구와 채팅을 통해 혹은 나의 업무를 담벼락에 공유하여 소셜 네트워크 친구들의 의견을 업무에 적극 수용 할 수 있습니다.
멀리 떨어진 친구와는 화상회의를 통하여 소통이 가능합니다. 기업 내 혹은 외부의 넓은 네트워크망을 이용하여 창의적인 의사소통으로 향상된 업무능력을 선보이시길 바랍니다.
			  </div>			  
			</div>
			
			<div class="row"  style="background:#fff">
			  <div class="col-md-7">
			  	<div><img src="images/waveStyle/index_con02_01.png" /></div>
                <h1>파일(문서)관리</h1>
                       코디는 컨텐츠의 한 영역으로 문서를 관리합니다.
이미지, 워드, 파워포인트, 엑셀 등 문서의 미리보기를 지원하여 다운로드 없이 플랫폼 내에서 문서의 내용을 손쉽게 확인 할 수 있습니다. 문서의 미리보기 영역에 직접 의견을 공유할 수 있습니다. 원하는 포지션에 “코멘트 달기”를 통해서 의견을 공유해 보세요.
또한 문서의 고급 관리로 문서를 버전별로 업로드 가능합니다. 이전에 업로드한 문서의 손실 없이 미리보기 및 다운로드 할 수 있습니다. 또한 문서 내 키워드 검색이 가능합니다. 이제 코디에서 문서에 실시간으로 의견을 공유하고 표시된 영역의 화면을 캡쳐하여 원활한 소통의 도구로 활용해보세요. 
			  </div>
			  <div class="col-md-5">
			  	<img src="images/waveStyle/index_con02.jpg" width="100%"/>
			  </div>
			</div>
			
			<div class="row" style="background:#F3F3F3">
			  <div class="col-md-5">
			  	<img src="images/waveStyle/index_con03.jpg" width="100%"/>
			  </div>
			  <div class="col-md-7">
			  	<div><img src="images/waveStyle/index_con03_02.png" /></div>
                <h1>개인직무 및 프로젝트 관리</h1>
                        담벼락에 달력을 통해 자신의 업무를 효과적으로 관리 할 수 있습니다. 캘린더의 업무를 등록하고, 알림 예약을 통해 지정한 시간에 업무 알림을 받을 수 있습니다.
자신이 진행 하여야 할 업무는 “내가 해야할일(TODO List)”에서 따로 확인 할 수 있으며, 간트차트를 통하여 프로젝트의 진행상태를 모니터링 할 수 있습니다.
			  </div>			  
			</div>
			
			<div class="row"  style="background:#fff">
			  <div class="col-md-7">
			  	<div><img src="images/waveStyle/index_con01_01.png" /></div>
                <h1>집단지성/매시업</h1>
                        팀간 혹은 그룹간 더 나아가서 기업간의 공동 작업 공간을 구성합니다. 지식맵을 통하여 집단 지성의 커뮤니티를 구성 할 수 있습니다. 지식맵은 wiki의 컨텐츠, 슬라이드쉐어의 슬라이드, 유투브의 동영상, 구글의 이미지 등으로 외부의 컨텐츠의 활용이 가능합니다. 실시간으로 검색되는 컨텐츠를 이용하여 지식맵을 구성해 보세요. 
			  </div>
			  <div class="col-md-5">
			  	<img src="images/waveStyle/index_con04.jpg" width="100%"/>
			  </div>
			</div>
			

			
        </div>
    </div>
    <div class="index_bottom"></div>
</div>

<%}%>