

<div class="header_bg">
	<div class="wrap">
		<div class="header">
			<div class="logo">
				<a href="index.html"><img src="images/flatStyle/codi_logo.png" alt="" width="200px"/></a>
			</div>
			<div class="cssmenu">
				<ul>

					<li class="last"><a href="#" onClick="<%=methods.goLogin.caller()%>">LOGIN</a></li>
					<div class="clear"></div>
				</ul>
			</div>
			<div class="clear"></div>
			<div class="top-nav">
				<nav class="clearfix">
					<a href="#"  onClick="<%=methods.goLogin.caller()%>" id="pull">LOGIN</a>
				</nav>
			</div>
			<div class="clear"></div>
		</div>
	</div>
</div>

<div id="fwslider">
	<div class="slider_container">
		<div class="slide">
			<img src="images/flatStyle/slider1.jpg">
			<div class="slide_content">
				<div class="slide_content_wrap">
					<h4 class="title">Essencia</h4>

					<p class="description">Essencia helps you adopting OMG's Standard 'Essence' stands for SW engineering practice authoring and execution.</p>

					<div class="front_login">
						<%=fields.login.here()%>
					</div>

				</div>
			</div>


		</div>

	</div>

</div>


<div class="main_bg">
	<div class="wrap">
		<div class="grids_1_of_3">
			<div class="grid_1_of_3 images_1_of_3">
				<span class="glyphicon glyphicon-screenshot" aria-hidden="true"></span>
				<a href="#"><h3>Practice Definer</h3></a>
				<p>Practices are defined and become the elements of Methods via mapping the kernel elements of Essence language. Practice author mapping Alpha and Activity space both via reversible order and repeatable way.</p>
			</div>
			<div class="grid_1_of_3 images_1_of_3">
				<span class="glyphicon glyphicon-lock" aria-hidden="true"></span>
				<a href="#"><h3>Methods Composer</h3></a>
				<p>It can compose Methods out of one or more defined Practices and support automatic integration within same elements. Additionally it supports conversion into BPMN Process Model, ordering of Activities and deploy into web launch.</p>
			</div>
			<div class="grid_1_of_3 images_1_of_3">
				<span class="glyphicon glyphicon-check" aria-hidden="true"></span>
				<a href="#"><h3>Runner</h3></a>
				<p>It signifies integrate community that provide environment for implementation of deployed Method Process and community for stakeholders. Defining of Role is offered at the starting point of Process and provide checklist for Essence Specification according to Activities. Monitoring of task progress according to each Activity states and area of concern is possible.</p>
			</div>
			<div class="grid_1_of_3 images_1_of_3">
				<span class="glyphicon glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
				<a href="#"><h3>Import-Export in Essence XMI</h3></a>
				<p>Newly defined Practices can be imported and exported by integration with JIRA and Microsoft Project. Files can be opened via Notepad to be viewed and Practice and Methods are stored and loaded with Essence XMI by using Eclipse eCore framework.</p>
			</div>
			<div class="clear"></div>
		</div>
	</div>
</div>



			
			<div class="row" style="background:#F3F3F3">			  
			  <div class="col-md-12">
                <iframe src="https://player.vimeo.com/video/159151283" width="100%" height="650" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
			  </div>
			</div>


