<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">

    <display-name>Essencia Web UI</display-name>

    <!-- ==================== -->
    <!-- Context Parameters -->
    <!-- ==================== -->
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>/WEB-INF/customContext.xml</param-value>
    </context-param>
    <context-param>
        <param-name>log4jConfigLocation</param-name>
        <param-value>/WEB-INF/log4j.properties</param-value>
    </context-param>

    <!-- ========================= -->
    <!--  Listeners Configuration  -->
    <!-- ========================= -->
    <listener>
        <listener-class>org.springframework.web.util.Log4jConfigListener</listener-class>
    </listener>
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>
    <listener>
        <listener-class>org.springframework.web.context.request.RequestContextListener</listener-class>
    </listener>

    <!-- ==================== -->
    <!-- Jira Servlet -->
    <!-- ==================== -->
    <servlet>
        <servlet-name>dispatcher-jira</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <init-param>
            <param-name>contextConfigLocation</param-name>
            <param-value>/WEB-INF/dispatcher-jira-servlet.xml</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>dispatcher-jira</servlet-name>
        <url-pattern>/api/*</url-pattern>
    </servlet-mapping>

    <!-- ==================== -->
    <!-- Dwr Servlet -->
    <!-- ==================== -->
    <servlet>
        <servlet-name>dwr-invoker</servlet-name>
        <servlet-class>org.uengine.codi.mw3.CodiDwrServlet</servlet-class>
        <init-param>
            <param-name>useSpring</param-name>
            <param-value>true</param-value>
        </init-param>
        <init-param>
            <param-name>accessLogLevel</param-name>
            <param-value>runtimeexception</param-value>
        </init-param>
        <init-param>
            <param-name>debug</param-name>
            <param-value>true</param-value>
        </init-param>
        <init-param>
            <param-name>activeReverseAjaxEnabled</param-name>
            <param-value>true</param-value>
        </init-param>
        <init-param>
            <param-name>initApplicationScopeCreatorsAtStartup</param-name>
            <param-value>true</param-value>
        </init-param>
        <init-param>
            <param-name>jsonRpcEnabled</param-name>
            <param-value>true</param-value>
        </init-param>
        <init-param>
            <param-name>jsonpEnabled</param-name>
            <param-value>true</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>dwr-invoker</servlet-name>
        <url-pattern>/dwr/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <display-name>PortraitServlet</display-name>
        <servlet-name>PortraitServlet</servlet-name>
        <servlet-class>org.uengine.codi.mw3.portraitserver.PortraitServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PortraitServlet</servlet-name>
        <url-pattern>/portrait/*</url-pattern>
    </servlet-mapping>
    <servlet>
        <display-name>PreviewServlet</display-name>
        <servlet-name>PreviewServlet</servlet-name>
        <servlet-class>org.uengine.codi.mw3.previewserver.PreviewServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PreviewServlet</servlet-name>
        <url-pattern>/preview/*</url-pattern>
    </servlet-mapping>

    <!-- =================== -->
    <!-- Session Config -->
    <!-- =================== -->
    <session-config>
        <session-timeout>1440</session-timeout>
    </session-config>


    <!-- =================== -->
    <!-- Welcome File List -->
    <!-- =================== -->

    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
        <welcome-file>login.html</welcome-file>
        <welcome-file>loginForm.jsp</welcome-file>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>

</web-app>
