<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Contact</title>
</head>
<body leftmargin="0" topmargin="0" marginwidth="0" marginheight="0" yahoo="fix"
      style="font-family: Arial, Helvetica, sans-serif">

    <div>Jira product clientKey: ${clientKey}</div>
    <div>Jira product description: ${description}</div>
    <div>Jira product baseUrl: ${baseUrl}</div>
    <br><br>

    <div>Jira User key: ${userKey}</div>
    <div>Jira User displayName: ${displayName}</div>
    <div>Jira User emailAddress: ${emailAddress}</div>
    <div>Jira User isAdmin: ${admin}</div>
    <br><br><br>

    ${contents}

</body>
</html>