<%if(value){%>
	<div style="margin-left:20%;">
		<%	for(var i=0; i<objectMetadata.fieldDescriptors.length; i++){
				var fd = objectMetadata.fieldDescriptors[i];
			   	
			  	if(mw3.isHidden(fields[fd.name])) continue;
			  	if(fd.name == 'metaworksContext') continue;
		%>
				<%=fields[fd.name].here()%>
		<%
			}
		%>	
		
		<%	for(var i=0; i<objectMetadata.serviceMethodContexts.length; i++){
				var serviceMethod = objectMetadata.serviceMethodContexts[i];
			   	
		%>
				<%=methods[serviceMethod.methodName].here()%>
		<%
			}
		%>	
	</div>

<%}%>