<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.uengine.web.company.CompanyRepository">

    <resultMap id="Company" type="org.uengine.web.company.Company">
        <result property="comCode" column="COMCODE" jdbcType="VARCHAR"/>
        <result property="comName" column="COMNAME" jdbcType="VARCHAR"/>
        <result property="description" column="DESCRIPTION" jdbcType="VARCHAR"/>
        <result property="isDeleted" column="ISDELETED" jdbcType="VARCHAR"/>
        <result property="repMail" column="repmail" jdbcType="VARCHAR"/>
        <result property="repMlHst" column="repMlHst" jdbcType="VARCHAR"/>
        <result property="repMlPwd" column="repMlPwd" jdbcType="VARCHAR"/>
        <result property="alias" column="alias" jdbcType="VARCHAR"/>
        <result property="logoPath" column="logoPath" jdbcType="VARCHAR"/>
    </resultMap>

    <insert id="insert" parameterType="org.uengine.web.company.Company">
        INSERT INTO comtable
        (
        COMCODE,
        COMNAME,
        DESCRIPTION,
        ISDELETED,
        repmail,
        repMlHst,
        repMlPwd,
        alias,
        logoPath
        )
        VALUES (
          #{comCode},
          #{comName},
          #{description},
          #{isDeleted},
          #{repMail},
          #{repMlHst},
          #{repMlPwd},
          #{alias},
          #{logoPath}
        )
    </insert>

    <select id="selectByAlias" parameterType="string" resultMap="Company">
        SELECT
        *
        FROM
        comtable
        WHERE alias = #{alias}
    </select>

    <insert id="initKey">
        INSERT INTO BPM_SEQ (SEQ,TBNAME,DESCRIPTION,MODDATE)
        SELECT '1','COMTABLE','COMTABLE',NOW() FROM DUAL
        WHERE NOT EXISTS (SELECT * FROM BPM_SEQ WHERE TBNAME='COMTABLE')
    </insert>

    <update id="createKey">
        UPDATE BPM_SEQ
        SET    SEQ = (select SEQ + 1
        FROM   (SELECT SEQ
        FROM   BPM_SEQ
        WHERE  TBNAME = 'COMTABLE') T)
        WHERE  TBNAME = 'COMTABLE';
    </update>
    <select id="getKey" resultType="java.lang.Integer">
        SELECT SEQ FROM BPM_SEQ WHERE  TBNAME = 'COMTABLE';
    </select>
</mapper>