<%
	if(value){
%>
		<div class="top_iconmenu">
            <span class="glyphicon glyphicon-th app_icon" style="color: #fff;" onClick="<%=methods.showApps.caller()%>" title="Apps"></span>
            <span style="position: relative;padding: 10px;top: -4px"><img src="images/flatStyle/codi_logo.png"></span>
		</div>
<%
	}
%>