<%
	if(value){
%>
<div class="bgf_login">
	<div style="background-color:#782a90; height:85px;"></div>
	<div class="bgf_login_center">
		<p style="padding-top:335px">
			<%=fields.email.here({htmlAttr:{style: 'text-align: center'}, htmlAttrChild:{style: 'width: 310px'}})%>
		</p>	
		<p>
			<%=fields.password.here({htmlAttr:{style: 'text-align: center'}, htmlAttrChild:{style: 'width: 310px'}})%>
		</p>
		<p style="text-align:center;">
			<img onclick="<%=methods.login.caller()%>" src="images/login/bgf_login_btn.gif" style="cursor: pointer">
		</p>	
	</div>
</div>
<%
	}
%>