<br>

<%=include('dwr/metaworks/org/uengine/uml/model/ObjectInstance.ejs')%>


<%if(value.checkPointInstanceList && value.checkPointInstanceList.length > 0){%>

<h3>Checkpoints</h3>
<%}%>
<%=fields.checkPointInstanceList.here()%>