<div style="padding: 15px">

    <h2><%=mw3.localize("$processExplorer.ProcessDefinitions")%></h2>
    <p><%=mw3.localize("$newInstancePanel.StartNewProjectWithProcess.detail")%></p>
    <%=fields.processMapPanel.here()%>

</div>