<h3>Benchmark</h3>
<p>drag instances below and drop here to benchmark them.</p>

<%=fields.benchmark.here()%>

<h3>Projects</h3>
<p>currently running projects. Click to see details.</p>
<%=fields.instanceList.here()%>