<div style="padding: 15px; margin: auto">

<table>
    <td><%=fields.targetInstances.here()%></td>
    <td><%=methods.load.here()%></td>
</table>

<br>
<% if(value.chart){%>

<%=fields.chart.here()%>

<%}else{%>

    <h2>Drag and drop instances here</h2>

<%}%>

</div>