<div style="padding: 15px; margin: auto">

    <%=fields.targetInstances.here()%>
    <%=methods.load.here()%>

<br>
<% if(value.chart && value.chart.radarData && value.chart.radarData.length > 0){%>

    <%=fields.chart.here()%>

<%}if (value.coverageTable){%>

    <%=fields.coverageTable.here()%>

<%} else{%>

<!--    <h2>Drag and drop projects or practices here</h2> -->

<%}%>

</div>