<!--replace-->

<div id="objDiv_<%=objectId%>" style="padding: 15px">
<h4><%=value.state.description%></h4>

<%
    if(value.state.checkPoints){
%>
<h3>Checkpoints</h3>
<ul>
<%

        var checkpoints = value.state.checkPoints;
        if(checkpoints.__className && checkpoints.__className.indexOf("FaceWrapped") > 0){
            checkpoints = checkpoints.value;
        }


         for(var i in checkpoints){

             var checkPoint = checkpoints[i];


%>
    <h1><%=checkPoint.name%></h1>
<%
         }
%></ul><%
    }

%>

</div>