<!--replace-->

<div id="objDiv_<%=objectId%>" style="padding: 15px">
<h4><%=value.state.description%></h4>

<%
    if(value.state.checkPoints){
%>
<h3>Checkpoints</h3>
<ul>
<%


         for(var i in value.state.checkPoints){

             var checkPoint = value.state.checkPoints[i];

%>
    <h1><%=checkPoint.name%></h1>
<%
         }
%></ul><%
    }

%>

</div>