
<%

	if(value != null && typeof value != 'undefined'){
		var listOrderValue = (objectMetadata.faceOptions ? (objectMetadata.faceOptions['listOrder']?objectMetadata.faceOptions['listOrder']:'') : '');
		var listOrder = [];
		
		if(listOrderValue && listOrderValue.length>0){
			var tempOrder = [];
			
			if(listOrderValue.indexOf(',')>0){
				tempOrder = listOrderValue.split(',');
			}else{
				tempOrder.push(listOrderValue);
			}
				
			for (var i=0; i<tempOrder.length; i++){
				for(var j=0; j<objectMetadata.fieldDescriptors.length; j++){
					var fd = objectMetadata.fieldDescriptors[j];
					 
					if(tempOrder[i] == fd.name){
						listOrder.push(j);
					} 
				}
			}
			
		}else{
			for (var i=0; i<objectMetadata.fieldDescriptors.length; i++){
				listOrder.push(i);
			}
		}

		if(options['selectorble']){
%>
	<td style="text-align: center; width: 50px"><input type="checkbox" class="mw3_selector" objectId="<%=objectId%>" selectField="<%=options['selectField']%>" selectedValue="<%=options['selectedValue']%>" /></td>
<%
		}
		
		for(var i=0; i<listOrder.length; i++){
			var fd = objectMetadata.fieldDescriptors[listOrder[i]];
		   	
		  	if(mw3.isHidden(fields[fd.name])) continue;
		  	if(fd.name == 'metaworksContext') continue;
		  	
		  	var align = 'left';
		  	if(fd.className == 'java.lang.Integer')
		  		align = 'right'; 
%>
	<td><%=fields[fd.name].here()%></td>
<%		
		}
	}		
%>