<table width="100%">
    <td style="vertical-align: top;">
        <%=fields.processInstanceExplorer.here()%>
    </td>

    <td width="99%">
        <div style="height:700px"><%=fields.processModeler.here()%></div>
        <%=fields.processVariables.here()%>
    </td>
</table>