<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">

	<display-name>Essencia Web UI</display-name>

	<!-- ==================== -->
	<!-- Context Parameters -->
	<!-- ==================== -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>/WEB-INF/applicationContext.xml</param-value>
	</context-param>

	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	<listener>
		<listener-class>org.springframework.web.context.request.RequestContextListener</listener-class>
	</listener>

	<!-- ==================== -->
	<!-- Context Parameters -->
	<!-- ==================== -->

	<servlet>
		<servlet-name>mvc-dispatcher</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>mvc-dispatcher</servlet-name>
		<url-pattern>/api/*</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>dwr-invoker</servlet-name>
		<servlet-class>org.metaworks.dwr.TransactionalDwrServlet</servlet-class>

		<init-param>
			<param-name>useSpring</param-name>
			<param-value>true</param-value>
		</init-param>
		<init-param>
			<param-name>accessLogLevel</param-name>
			<param-value>runtimeexception</param-value>
		</init-param>
		<init-param>
			<param-name>debug</param-name>
			<param-value>true</param-value>
		</init-param>
		<init-param>
			<param-name>activeReverseAjaxEnabled</param-name>
			<param-value>true</param-value>
		</init-param>
		<init-param>
			<param-name>initApplicationScopeCreatorsAtStartup</param-name>
			<param-value>true</param-value>
		</init-param>
		<init-param>
			<param-name>jsonRpcEnabled</param-name>
			<param-value>true</param-value>
		</init-param>
		<init-param>
			<param-name>jsonpEnabled</param-name>
			<param-value>true</param-value>
		</init-param>
		<init-param>
			<param-name>crossDomainSessionSecurity</param-name>
			<param-value>false</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>dwr-invoker</servlet-name>
		<url-pattern>/dwr/*</url-pattern>
	</servlet-mapping>

	<!-- =================== -->
	<!-- Welcome File List -->
	<!-- =================== -->

	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>

	<!-- ================= -->
	<!-- Session Timeout -->
	<!-- ================= -->

	<session-config>
		<session-timeout>300</session-timeout>
	</session-config>
</web-app>
